@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Bebas+Neue&family=Bree+Serif&family=Passion+One&display=swap');

html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Passion One', cursive;;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.753);
}

.logo-link {
    color: rgb(0, 0, 0);
    font-size: 1.5em;
}

.logo img {
    width: 60px;
    height: 60px;
}

main {
    padding: 5px;
    background-color: #ffffff;
    margin-top: 10px;
}

body {
    background-color: #ffffff7c;
}

.principal {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.principal-um,
.principal-tres {
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    height: 300px;
    width: 70px;
    text-align: center;
    align-items: center;
    padding: 10px;
}

.principal-dois {
    background-color: transparent;
    height: 300px;
    width: 280px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    color: black;
    text-align: center;
    box-sizing: border-box;
}

.principal-dois h2 {
    opacity: 0.3;
}

.principal-dois p {
    font-size: 1.2em;
}

.icon-redes:hover {
    font-size: 3em!important;
}

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

footer h2 {
    font-weight: 100;
    font-size: 18px;
}

.principal-um img {
    width: 50px;
    height: 50px;
}

.principal-tres img {
    width: 50px;
    height: 50px;
}

.dois-filho {
    display: block;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
}

.dois-filho img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.dois-filho p { 
    margin-top: 15px;
    font-size: 1.7em;
}

/* SKILLS */

.skills {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 10px;
    height: 200px;
    background-color: rgb(255, 255, 255);
}

.skills-filho {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    padding: 5px;
}

.div-icon {
    width: 60px;
    margin: 2px;
}

.icon-facebook  {
    color: blue;
    font-size: 2em!important;
    margin-left: 8px;
}

.icon-instagram {
    color: red;
    font-size: 2em!important;
    margin-left: 8px;
}

.icon-twitter {
    color: rgb(0, 195, 255);
    font-size: 2em!important;
    margin-left: 8px;
}

.icon-linkedin {
    font-size: 2em!important;
    margin-left: 8px;
    color: blue;
}

.icon-github {
    font-size: 2em!important;
    margin-left: 8px;
    color: black;
}

.icon-tiktok {
    font-size: 2em!important;
    margin-left: 8px;
    color: black;
}

.icon-skills {
    color: rgba(128, 0, 128, 0.651);
    font-size: 2.5em!important;
    cursor: pointer;
}

.icon-skills:hover {
    font-size: 2em!important;
}

.skills-texto {
    display: flex;
    width: 250px;
    text-align: center;
    align-items: center;
    color: purple;
}

.skills-texto h2 {
    font-size: 2em;
    font-weight: bold;
}

.projects {
    display: block;
    justify-content: center!important;
    margin-top: 20px;
}

.projects h2 {
    text-align: center;
    opacity: 0.5;
}

.card {
    margin-left: 32px;
}